.container {
    display: flex;
    gap: 2vw;
    max-width: 100%; 
    padding-bottom: 3vh;
}

#red-person {
    width: 22.5%;
    height: auto;
}

.container div p {
    font-size: 2vh;
    line-height: 3.3vh;
}

.item {
    padding-top: 2vh;
    padding-left: 1vw;
    width: 31.5%;
    word-wrap: break-word;
}

.item h1 {
    color: red;
}

.item p a {
    text-decoration: none;
    transition: color 0.3s;
}

.item p a:hover {
    color: #ff6347;
}

@media only screen and (max-width: 900px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .item {
        width: 100%;
    }
    
    html, body {
        overflow: auto;
    }
}