@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body, html {
    overflow: auto;
    font-family: "Ubuntu", sans-serif;
    background-color: #000;
}

/* Header */
nav {
    padding: 1vh;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(128, 128, 128, 0.1);
    backdrop-filter: blur(5px);
    transition: background-color 0.3s;
}

nav.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-right: 3vw;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 2vh;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff6347;
}

.logo {
    margin-left: 2vh;
    width: 4vh;
    height: 4vh;
}

/* Body */
#background {
    position: fixed;
    background: #000;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
}

.overlay-container {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.overlay {
    pointer-events: all;
    color: white;
}

/* Footer */
footer {
    padding: 1vh;
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 5;

    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
    font-size: 1.5vh;
}

footer .socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer .socials a {
    color: white;
    margin-right: 1vw;
    font-size: 2vh;
    text-decoration: none;
    transition: color 0.3s;
}

footer .socials a:hover {
    color: #ff6347;
}

@media only screen and (max-width: 900px) {
    html, body {
        overflow: auto;
    }
}